<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de cámaras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Añadir cámaras</h1>
    <form action="/add_camera" method="post">
        <label for="camera_url">URL de la cámara (RTSP):</label><br>
        <input type="text" id="camera_url" name="camera_url"><br><br>
        <input type="submit" value="Añadir cámara">
    </form>
    <h2>Cámaras activas:</h2>
    <ul>
        {% for camera in cameras %}
        <li>
            <a href="/video_feed/{{ loop.index0 }}" target=_blank class="camera-link">{{ camera }}</a>
            <a href="/remove_camera/{{ loop.index0 }}" class="remove-button">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <h1>Ajustar los mensajes MQTT por segundo</h1>
    <form action="/update_mqtt" method="post">
        <label for="mqtt_messages_per_second">Mensajes MQTT por segundo:</label>
        <input type="number" id="mqtt_messages_per_second" name="mqtt_messages_per_second" value="{{ mqtt_messages_per_second }}">
        <input type="submit" value="Update">
    </form>
</body>
</html>
